doctype html
html(lang="en")
head
	title= 'Text processed using Regex'
body
h1 Text processing
h2 Currency Values
p #{curr}
h2 Apple and Oranges
p #{apor}
h2 Cats 
p #{cats}
h2 All Numbers in string: 
p #{nums}
h2 Replace And with Or
p #{ao}
h2 Words followed by Space or Colon
p #{cls}